<div data-controller="game" data-game-rails-method-value=<%=@rails_method %>
    <ul>
      <% @rails_method.chars.each do |letter| %>
          <li><%= letter %></li>
      <% end %>
    </ul>
</div>