<%= turbo_frame_tag 'explanations_turbo_frame' do %>
  <%= render layout: '/shared/modal', locals: {data_controller_name: "explanations"} do%>
    <div>
      <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Welcome to RoRdle !</h3>
      <div class="text-gray-600 my-2">
          <p class="text-center">RoRdle is to discover every day a new Ruby or Rails method !</p>
          <br/>
          <p class="font-bold">You have to guess the method in 6 tries. To do so:</p>
          <ul class="list-disc ml-8">
            <li>Each guess must a valid Ruby or Rails method.</li>
            <li>Each guess must have the same length as the method to find.</li>
            <li>The color of the tiles will change to show how close your guess was to the word.</li>
          </ul>
          <br/>
          <p>A tile in <span class="text-green-400">green</span> contains a letter at the right spot.</p>
          <p>A tile in <span class="text-orange-400">orange</span> is a letter present in the method to find but not in the right spot.</p>
          <br/>
          <p class="font-bold">The methods come from</p>
          <ul class="list-disc ml-8">
            <li>Ruby 3.1.1</li>
            <li>Rails 7.0.4</li>
            <li>Rails gems used: <%= MethodsHelper::GEMS*', '%></li>
          </ul>
          <br/>
          <p class="italic text-center">If you need any inspiration, feel free to use "Methods list" button at the top!</p>
      </div>
  </div>
  <% end %>
<% end %>