<header class="header z-20 flex-wrap w-full">
    <!-- https://heroicons.dev/ -->
    <!-- Question Mark -->
    <form action="/games/explanations" method="post">
    <%= render layout: '/shared/header_button', locals: {tooltiptext: "Help"} do %>
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <div class="hidden font-bold text-white ml-2 sm:block">Explanation</div>
        <% end %>
    </form>

    <!-- FLAG -->
    <form action="/games/give_up" method="post">
        <%= render layout: '/shared/header_button', locals: {tooltiptext: "Abandon"} do %>
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"></path>
            </svg>
            <div class="hidden font-bold text-white ml-2 sm:block">Give up</div>
        <% end %>
    </form>

    <h1 class="header-title text-white">RoRdle</h1>

    <!-- GLOBE -->

    <div data-controller="show-methods" data-action="click->show-methods#toggle" class="cursor-pointer mx-3 my-0">
        <div class="flex bg-red-400 p-1.5 rounded border-b-[2px] border-red-700 hover:border-b-[0px]">
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
            </svg>
            <div class="hidden font-bold text-white ml-2 sm:block">Methods list</div>
        </div>
    </div>


    <!-- GITHUB -->
    <%= link_to url_for("https://github.com/squadracer/rordle"), target: "_blank" do %>
        <%= render layout: '/shared/header_button', locals: {tooltiptext: "Project's GitHub"} do %>
            <svg class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"></path>
            </svg>
            <div class="hidden font-bold text-white ml-2 sm:block">Github</div>
        <% end %>
    <% end %>

</header>
