<div id='modal_turbo_frame' class='z-10	methods_list absolute top-0'>
  <div class="overflow-auto h-screen pl-6 pt-16">
    <ul class="">
    <% methods_list.each do |method_name| %>
      <li class="text-lg font-bold mt-6 p-2 bg-slate-50 rounded-md	"><%= method_name %></li>
    <% end %>
    </ul>
  </div>
</div>
