<div class="flex flex-col space-y-1">
    <% 6.times do |line_number| %>
        <div class="flex justify-center gap-1">
            <% line = answers[line_number] || ' '*rails_method.size %>
            <% line.size.times do |i|%>
                <% color = colors[line_number][i] %>
                <div class="flex justify-center items-center shrink-0 w-10 h-10 border-2 <%= "border-#{color || 'red' }-400" %> rounded <%= "bg-#{color || '' }-400" %>">
                    <span class="font-semibold"><%= line[i] %></span>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
