<%= render layout: '/shared/modal', locals: {data_controller_name: "game-lost"} do %>
        <div class="text-center">
            <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">❌ You lose. ❌</h3>
            <div class="text-gray-600 my-2">
                <p>Thank you for competing in today's challenge !</p>
                <p><%="Retry to win tomorrow's challenge."%></p>
            </div>
            <%= render partial: 'shared/end_game_modal/rails_method_doc', locals: {rails_method: rails_method, rails_method_doc: rails_method_doc} %>
            <%= render partial: 'shared/end_game_modal/bottom_buttons', locals: {answers_size: answers_size, colors: colors, infinite_mode: infinite_mode} %>
        </div>
    </div>
<% end %>