<!-- <h1 class="flex justify-center"><%= @rails_method %></h1> -->
<%= render partial: 'games/game',
    locals: {
        rails_method: @rails_method,
        answers: @answers,
        game_won: @game_won,
        colors: @colors,
        alphabet: @alphabet
    }
%>