<div class="mt-1.5 flex flex-col">
    <h1 class="flex justify-center"><%= @rails_method %></h1>
    <%= render partial: 'games/game',
        locals: {
            rails_method: @rails_method,
            answers: @answers,
        }
    %>
</div>