<div class="my-10 text-center flex justify-between">
    <a href="/" class="m-auto bg-green-400 text-white font-semibold px-10 py-3 rounded">Continue</a>
    <p class="text-gray-900 font-semibold my-4">||</p>
    <a href="/share" class="m-auto bg-blue-400 text-white font-semibold px-10 py-3 rounded">Share</a>
</div>