.end_game_modal {
  overflow: auto;
  height: 300px;
  background-color: #1b1b1b;
  color: #FFFFFF;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

.show {
  animation: fade 1.5s;
}

@keyframes fade {
  0% {bottom: 0px; opacity: 0;}
  20% {bottom: -30px; opacity: 1;}
  80% {bottom: -30px; opacity: 1;}
  100% {bottom: 0px; opacity: 0;}
}