header {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  background-color: var(--rails-red-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin-left: 10px;
  margin-right: 10px;
}

header button {
  margin-left: 5px;
  margin-right: 5px;
}