.methods_list {
  left: -500px;
  transition: 0.5s;
}

.methods_list>div {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.methods_list>div::-webkit-scrollbar {
  display: none;
}


.toggle-list {
  left: 0px;
  transition: 0.5s;
}
